    <!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
            <link rel="stylesheet" href="/stylesheets/style.css">
            <title>Blog App</title>
        </head>

        <body>
            <div class="ui fixed inverted menu">
                <div class="ui container">
                    <div class="header item"><i class="idea icon"></i>Blog Site</div>
                    <a href="/" class="item">Home</a>
                    <a href="/blogs/new" class="item">News Post</a>
 
                   <% if(!currentUser){ %>
                    <div class="right menu">
                        <a href="/login" class="item">Sign In</a>
                        <a href="/register" class="item">Sign Up</a>
                    </div>
                <% }else{ %>
                        <div class="right menu">
                            <span class="item"><%=currentUser.username %></span>
                            <a href="/logout" class="item">Sign Out</a>
                        </div>
                   <% } %>
                   
                </div>
            </div>
    
