<% include partials/header %>

<div class="ui segment main text container">

    <div class="ui huge header">New Blog Post</div>
        <form class="ui form" action="/blogs/<%= blog._id %>?_method=PUT" method="POST">
            <div class="field">
                <label for="">Title</label>
                <input type="text" name="blog[title]" value="<%= blog.title %>">
            </div>
            <div class="field">
                <label for="">Image</label>
                <input type="text" name="blog[image]" value="<%= blog.image %>">
            </div>
            <div class="field">
                <label for="">Content</label>
                <textarea name="blog[body]" id="content" cols="30" rows="10"><%- blog.body %></textarea>
            </div>

            <button class="ui inverted green button" type="submit">Submit</button>
        </form>
</div>


<% include partials/footer %>