i.icon{
    font-size: 2em;
}

.container.main{
    margin-top: 90px;
    margin-bottom: 20px;
}

h1{
    margin-top: 100px;
}

#delete{
    display: inline;
}

.ui.segment:last-child{
    margin-bottom: 10px;
}

.description{
    margin-top: 15px;
}

#msg{
    margin-top: 70px;
}